.date-picker-panel__date {
    width: 272px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.picker-header {
    position: relative;
    padding: 16px;
    overflow: hidden;
    line-height: 16px;
    text-align: center;
    -webkit-box-shadow: inset 0 -1px 0 0 #eee;
    box-shadow: inset 0 -1px 0 0 #eee;
}
.picker-header__prev:first-child {
    left: 16px;
}
.icon {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.picker-header__icon {
    position: absolute;
    width: 16px;
    height: 16px;
    color: #999;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.picker-header__label.clickable {
    cursor: pointer;
}
.picker-header__label {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.month-table {
    padding: 16px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}
.date-table__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    white-space: nowrap;
    margin-bottom: 16px;
    color: #666;
}
.date-table__header .date-table__cell-inner {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    word-break: keep-all;
    vertical-align: middle;
    border-radius: 4px;
}
.date-table__row:not(:last-child) {
    margin-bottom: 12px;
}
.date-table__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    white-space: nowrap;
    color: #333;
}
.date-table {
    padding: 16px;
    font-size: 14px;
    background-color: #fff;
}
.picker-header__label.clickable:hover {
    color: #ee4d2d;
}
.picker-header__label.clickable {
    cursor: pointer;
}
.date-table__cell-inner.disabled {
    cursor: not-allowed;
    opacity: .5;
}
.disabled:active{
pointer-events: none;
}
.month-table__row {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin: 16px 0;
}
.month-table__col.disabled:hover:not(.current), .month-table__col.disabled:not(.current) {
    color: #999;
}
.month-table__col.disabled:hover:not(.current), .month-table__col.disabled:not(.current) {
    color: #999;
}
.month-table__col:hover,.year-table__col:hover{
    background-color: rgb(240, 238, 238);
}
.year-table__row {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin: 16px 0;
}
.year-table__col.disabled:hover:not(.current), .year-table__col.disabled:not(.current) {
    color: #999;
}
.year-table__col {
    position: relative;
    display: inline-block;
    width: 72px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    word-break: keep-all;
    vertical-align: middle;
    border-radius: 4px;
    cursor: pointer;
}
.year-table__col.disabled:hover:not(.current), .year-table__col.disabled:not(.current) {
    color: #999;
}
.year-table__col.disabled {
    cursor: not-allowed;
    opacity: .5;
}
.year-table__col.selected:hover:not(.selecting-range-end), .year-table__col.selected:not(.selecting-range-end) {
    color: #fff;
    background-color: #ee4d2d;
}
.date-table__header {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin-bottom: 16px;
    color: #666;
}
.year-table {
    padding: 16px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}
.month-table__col {
    position: relative;
    display: inline-block;
    width: 72px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    word-break: keep-all;
    vertical-align: middle;
    border-radius: 4px;
    cursor: pointer;
}
.month-table__col.disabled {
    cursor: not-allowed;
    opacity: .5;
}
.month-table__col.selected.range-end, .month-table__col.selected.range-start, .month-table__col.selected:hover.range-end, .month-table__col.selected:hover.range-start, .month-table__col.selected:hover:not(.selecting-range-end), .month-table__col.selected:not(.selecting-range-end) {
    color: #fff;
    background-color: #ee4d2d;
}
.picker-header__prev:first-child {
    left: 16px;
}
.picker-header__prev:nth-child(2) {
    left: 36px;
}
.picker-header__next:nth-last-child(2) {
    right: 36px;
}
.picker-header__next:last-child {
    right: 16px;
}
.picker-header__label {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.date-table__row .date-table__cell.line-start {
    padding-left: 0;
}
.date-table__row .date-table__cell {
    position: relative;
    width: 36px;
    height: 24px;
    padding-right: 6px;
    padding-left: 6px;
}
.date-table__row .date-table__cell-inner.disabled:hover:not(.current), .date-table__row .date-table__cell-inner.disabled:not(.current) {
    color: #999;
}
.date-table__row .date-table__cell-inner.disabled {
    cursor: not-allowed;
    opacity: .5;
}


.date-table__row .date-table__cell.line-start {
    padding-left: 0;
}
.date-table__row .date-table__cell-inner.out-of-month:not(.disabled) {
    color: #999;
}
.date-table__row .date-table__cell-inner.in-selecting-range, .date-table__row .date-table__cell-inner.selecting-range-end, .date-table__row .date-table__cell-inner.selecting-range-start, .date-table__row .date-table__cell-inner:hover {
    background-color: #f6f6f6;
}
.date-table__row .date-table__cell {
    position: relative;
    width: 36px;
    height: 24px;
    padding-right: 6px;
    padding-left: 6px;
}
.date-table__row .date-table__cell-inner.disabled:hover:not(.current), .date-table__row .date-table__cell-inner.disabled:not(.current) {
    color: #999;
}
.date-table__row .date-table__cell-inner.disabled {
    cursor: not-allowed;
    opacity: .5;
}

.date-table__row .date-table__cell-inner.selected.range-end, .date-table__row .date-table__cell-inner.selected.range-start, .date-table__row .date-table__cell-inner.selected:hover.range-end, .date-table__row .date-table__cell-inner.selected:hover.range-start, .date-table__row .date-table__cell-inner.selected:hover:not(.selecting-range-end), .date-table__row .date-table__cell-inner.selected:not(.selecting-range-end) {
    color: #fff;
    background-color: #ee4d2d;
}
.date-table__row .date-table__cell-inner {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    word-break: keep-all;
    vertical-align: middle;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}
.month-table__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    white-space: nowrap;
    margin: 16px 0;
}